{% extends 'base.html.twig' %}

{% block title %}Annuaire de l'Aude{% endblock %}

{% block body %}
	<div id="p1">

		<div class="container-fluid">

			<div class="row">

				<div class="col-sm-12 headmi">

					<span class="respmod">ANNUAIRE PROFESSIONNEL<br>
						Trouvez un artisan proche de chez vous !<br></span>
					<form class="headform">
						<div class="form-group">
							<select class="form-control">
								<option>Plombier</option>
								<option>Peintre</option>
								<option>Electricien</option>
								<option>Menuisier</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control">
								<option>Carcassonne</option>
								<option>Limoux</option>
								<option>Couiza</option>
								<option>Quillan</option>
								<option>Narbonne</option>
								<option>Lézignan</option>
								<option>Castelnaudary</option>
							</select>
						</div>
						<a href="/rechercher">
							<button type="button" class="btn btn-outline-light">Rechercher</button>
						</a>
					</form>

				</div>

			</div>

		</div>

	</div>

	<div id="p2">

		<div class="container-fluid">
			<div class="row">
				<div class="card-deck">
					<div class="card">
						<img src="./img/cci1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Batîment</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Esthétique</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Restauration</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Restauration</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
				</div>

				<div class="card-deck">
					<div class="card">
						<img src="./img/cci1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Batîment</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Esthétique</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Restauration</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
					<div class="card">
						<img src="./img/cci3.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Restauration</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
																																                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="p3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 servl"></div>
				<div class="col-sm-8 servr">

					<div class="servbloc">
						<div class="servblocicon">
							<i class='lni lni-eye bigicon'></i>
							<br>
							VISIBILITÉ
						</div>
						<div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
																												                        sed do eiusmod tempor incididunt ut labore.</div>
					</div>
					<br>

					<div class="servbloc">
						<div class="servblocicon">
							<i class='lni lni-thumbs-up bigicon'></i>
							<br>
							PRATIQUE
						</div>
						<div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
																												                        sed do eiusmod tempor incididunt ut labore.</div>
					</div>
					<br>

					<div class="servbloc">
						<div class="servblocicon">
							<i class='lni lni-notepad bigicon'></i>
							<br>
							ACTUS
						</div>
						<div class="servdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
																												                        sed do eiusmod tempor incididunt ut labore.</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="p4">

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 actulist">

					<ul class="list-unstyled">
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media my-4">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
					</ul>

				</div>
				<div class="col-sm-4 actulist">

					<ul class="list-unstyled">
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media my-4">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
						<li class="media">
							<img src="./img/actus.png" class="mr-3 imgactussize" alt="...">
							<div class="media-body">
								<h5 class="mt-0 mb-1">Dernière Norme</h5>
								Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
																																                            sollicitudin.
								<b>Consulter</b>
							</div>
						</li>
					</ul>

				</div>
				<div class="col-sm-4 actusnormes"></div>
			</div>
		</div>

	</div>
{% endblock %}
