<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "INC/header.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include "INC/footer.html.twig" %}
    </body>
</html>
