        <footer>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 footerorg">

                        <div class="footertitle">Inscrivez-vous à notre newsletter</div>

                        <button type="button" class="btn btn-outline-light">Votre e-mail</button><br>

                        <button type="button" class="btn btn-outline-light">Je m'incris</button>

                    </div>
                    <div class="col-sm-3 footerorg">

                        <div class="footertitle">Nos solutions</div>
                        Lorem ipsum dolor sit amet, consectetur adipiagna ultrices iaculis. Vestibulum,
                        felis, libero, ac lacinia dictumst eget amet ut. Imperdiet pellentesque
                        fermentum lacinia nibh nulla morbi a.

                    </div>
                    <div class="col-sm-3 footerorg">

                        <div class="footertitle">A propos</div>
                        Lorem ipsum dolor sit amet, consectetur adipiagna ultrices iaculis. Vestibulum,
                        felis, libero, ac lacinia dictumst eget amet ut. Imperdiet pellentesque
                        fermentum lacinia nibh nulla morbi a.

                    </div>
                    <div class="col-sm-3 footerorg">

                        <div class="footertitle">Support et Contact</div>
                        04 68 56 67 11
Suivez-nous !

                    </div>
                </div>
            </div>

        </footer>