<div id="p1header">
	<div class="container-fluid">

		<div class="row">

			<div class="col-3 col-sm-3 col-md-4 col-lg-5 col-xl-5 navga">

				<a href="{{ path('home')}}">ANNUAIRE DE L'AUDE</a>

			</div>
			<div class="col-9 col-sm-9 col-md-7 col-lg-6 col-xl-5 navmi">
				<a href="#">Actus</a>
				<a href="#">Contact</a>
				<a href="{{ path('security_registration') }}">S'inscrire</a>
				{% if not app.user %}
					<a href="{{ path('security_login') }}">Se Connecter</a>
				{% else %}
					<a href="{{ path('security_logout') }}">Déconnexion</a>
				{% endif %}
				<a href="{{ path('rechercher') }}">
					<i class='lni lni-search-alt'></i>
				</a>
			</div>
			<div class="col-0 col-sm-0 col-md-1 col-lg-2 col-xl-2 navdr"></div>
		</div>
		<div id="p1headerresp">
			<div id="menuToggle">
				<input type="checkbox"/>
				<span></span>
				<span></span>
				<span></span>
				<ul id="menu">
					<a href="#">
						<li>Actus</li>
					</a>
					<a href="#">
						<li>Contact</li>
					</a>
					<a href=" path('security_registration')}}">
						<li>Inscription</li>
					</a>
					{% if not app.user %}
						<a href="{{ path('security_login') }}">
							<li>Connexion</li>
						</a>
					{% else %}
						<a href="{{ path('security_logout') }}">
							<li>Déconnexion</li>
						</a>
					{% endif %}
					<a href="#">
						<i class='lni lni-search-alt'></i>
					</a>
				</ul>
			</div>
			<div class="navga">ANNUAIRE DE L'AUDE</div>
		</div>
