h1 {
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

form {
    margin-left: 400px;
    color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E58900;
    text-decoration: none;
}

#p1 {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%, rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url("../img/bgheader.png") 100% 0 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
}

#p2 {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%, rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url("../img/bgheader.png") 100% 0 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px;
}


#p1header {
    background-color: rgb(65, 65, 65);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60px;
}

#p1headerresp {
    background-color: rgb(65, 65, 65);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60px;
    display: none;
}

#p2 {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

#p3 {
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100%;
    height: auto;
}

#p4 {
    background-color: #FFFFFF;
    width: 100%;
}

.navga {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #E58900;
}

.navmi {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navdr {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headmi {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    text-align: center;
}

.form-control {
    width: 400px;
}

.headform {
    margin: 40px;
}

.btn-outline-light {
    background-color: #E58900;
    color: white;
    border-color: #E58900;
}

.btn-outline-light:hover {
    color: #E58900;
    border-color: #E58900;
}

.card-img-top {
    height: 150px;
}

.card-deck {
    margin-bottom: 2%;
}

.servl {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.7) 50%, rgba(0, 138, 201, 0.7)) 0 0 no-repeat, url("../img/servimg.jpg") 50% 0 no-repeat;
    background-size: cover;
    height: 500px;
}

.actusnormes {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.7) 50%, rgba(0, 138, 201, 0.7)) 0 0 no-repeat, url("../img/normes.jpg") 55% 0 no-repeat;
    background-size: cover;
    width: 100%;
}

.servr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.card-body {
    background-color: white;
}

.servtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.servsubtitle {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.card-title {
    color: #E58900;
    font-size: 25px;
}

.centrerleboutton {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigicon {
    font-size: 50px;
    color: #E58900;
}

.servbloc {
    width: 70%;
    height: auto;
    text-align: center;
}

.servblocicon {
    font-size: 25px;
}

.actulist {
    display: flex;
    align-items: center;
    height: auto;
    padding: 40px;
}

.media {
    margin-top: 15px;
    margin-bottom: 15px;
}

.imgactussize {
    height: 64px;
    width: 64px;
}

.mb-1 {
    color: #E58900;
}
/*inscription*/
.p1{
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%, rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url("../img/bgheader.png") 100% 0 no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
}

/* page contact */

#center {
    display: flex;
   
    flex-direction: column;
    align-items: center;
}

.envoyer{
    display: flex;
    justify-content: center;
}

form {
    margin-top: 100px;
    margin-left: 0;
    margin-bottom: 50px;

}

.txt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 0;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
}

.container-fluid{
    padding: 0;
}
/*page artisan*/
.headArt {
    color: white;
}

.nomA {
    font-size: 2em;
}

.tel {
    background-color: #E58900;
    border-color: #E58900;
    color: white;
    border-radius: 15px;
    padding: 10px;
}

.tel:hover {
    background-color: #ffffff;
    color: #E58900;
}

.btnArt {
    background-color: rgba(0, 78, 114, 0.7);
    color: white;
    border-color: rgba(0, 78, 114, 0.7);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}
.btnArt:hover{
    background-color:white;
    color: #134963;
    border-color: white;
}
.coordonnes{
    margin: 20px 0;
}
.reseaux{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.price{
    list-style: none;  
    color : #E58900;
}
.sstitreArt {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%, rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url("../img/bgheader.png") 100% 0 no-repeat;
    color: #E58900;
    font-weight: 600;
    padding: 10px;
    margin: 25px 0;
}
.sstitreArt2 {
    color: #E58900;
    font-weight: 600;
    padding: 10px;
    margin: 25px 0;
}

.aside {
    background-color: white;
    color: #414141;
}

.presentationTr {
    background: -webkit-linear-gradient(rgba(0, 78, 114, 0.9) 50%, rgba(0, 138, 201, 0.9)) 0 0 no-repeat, url("../img/bgheader.png") 100% 0 no-repeat;
    color: white;
    padding-bottom : 35px;
    margin : 0;
}

.photo {
    width: 300px;
    height: 200px;
}
.photoTF{
    width: 150px;
    height: 100px;
}
.buttn{
    margin : 45px 0;
}

.horaire{
    margin : 60px 0;
    font-size: 26px;
}
.h3Art{
    margin:25px;
    color :#E58900;
    font-weight: 500;
    font-size : 30px;
}
.logoArt{
    margin:30px 5px;
    width: 80px;
    height:80px;
}

/*---FOOTER---*/
footer {
    height: auto;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin : 0;

}

.footertitle {
    width: 100%;
    height: auto;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.footerorg {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.space-around {
    justify-content: space-around;
}

#menuToggle {
    display: block;
    position: relative;
    margin-right: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: white;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #E58900;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #E58900;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0 0;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #E58900;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px;

    background-color: rgb(65, 65, 65);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0 0;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
    transform: none;
}

@media screen and (max-width: 768px) {
    form {
        margin-left: 10px;
    }

    h1 {
        color: #ffffff;
        text-transform: uppercase;
        margin-left: 40px;
    }

    #p1header {
        display: none;
    }

    #p1headerresp {
        display: flex;
        padding-left: 20px;
        align-items: center;
        justify-content: flex-start;
    }

    .card-title {
        font-size: 16px;
    }

    .card-text {
        display: none;
    }

    .servl {
        display: none;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .actusnormes {
        display: none;
    }

    .respmod {
        font-size: 25px;
    }
}

@media screen and (max-width: 425px) {

    .form-control {
        width: 300px;
    }
}