{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
<div id="p2">

<form action="{{ path('security_login') }}" method="post">
  <div class="form-group">
  <h1> Connexion </h1>
  <input placeholder="Votre adresse email" required name="_username" type="texte" class="form-control">
  </div>

    <div class="form-group">
              <input placeholder="Votre mot de passe" required name="_password" type="password" class="form-control">
     </div>

<div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
    <label for="remember_me">Restez connecté ?</label>
    </div>
    <div class="form-group">
<button type="submit" class="btn btn-warning">Se connecter</button>

<p>Vous n'êtes pas inscrit ? <a href="{{ path('security_registration') }}">Inscrivez-vous gratuitement</a> </p>

</div>
</form>
</div>
{% endblock %}