{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
<div id="p1">
<h1>Inscription</h1>
{{ form_start(form) }}

{{ form_row(form.email, {'label':'Adresse élétronique','attr': {'placeholder':'Votre adresse email'}}) }}
{{ form_row(form.nom, {'label':'Votre nom','attr': {'placeholder':'Nom de famille'}}) }}
{{ form_row(form.prenom, {'label':'Votre prénom','attr': {'placeholder':'Saisir votre prénom'}}) }}
{{ form_row(form.adresse, {'label':'Votre adresse','attr': {'placeholder':'Saisir votre adresse'}}) }}
{{ form_row(form.codepostal, {'label':'Votre code postal','attr': {'placeholder':'Saisir votre code postal ( ex: 11100 )'}}) }}
{{ form_row(form.ville, {'label':'Ville','attr': {'placeholder':'Ville'}}) }}
{{ form_row(form.tel, {'label':'Numéro de téléphone','attr': {'placeholder':'Saisir votre numéro de téléphone'}}) }}
{{ form_row(form.mdp, {'label':'Mot de passe','attr': {'placeholder':'Saisir mot de passe'}}) }}
{{ form_row(form.confirm_password, {'label':'Confirmez votre mot de passe','attr': {'placeholder':'Veuillez confirmer votre mot de passe '}}) }}
 <button type="submit" class="btn btn-warning">Valider</button>
 
 <p>Vous avez déjà un compte ? <a href="{{ path('security_login')}}">Connectez-vous</a></p>

{{ form_end(form) }}
<div>
{% endblock %}